@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  width: 1311px;
  flex-shrink: 0;
  border-radius: 55px;
  background: #FFFAF3;
  /* Drop Shadow */
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.25);
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  gap: 56px;
}

.content {
  display: flex;
  align-items: flex-end;
  padding: 30px;
}

.bioText {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
  margin-right: 60px;
}

.h1Style {
  color: #575279;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.highlight {
  color: #575279;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.pStyle {
  color: #575279;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  text-justify: inter-word;
}

.profile {
  display: flex;
  flex: 1;
  padding: 30px;
  flex-direction: column;
  align-items: left;
  border-radius: 55px;
  background: #F2E9E1;
  margin: 30px;
  /* Drop Shadow */
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.25);
}

.princess {
  z-index: 2;
  width: 395px;
  height: 405px;
  flex-shrink: 0;
  border-radius: 25px;
  position: relative;
}

.h2Style {
  color: #575279;
  text-align: center;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 30;
  color: #575279;
  font-family: 'Atkinson Hyperlegible', serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.listItem {
  padding: 5px;
}