.container {
  position: relative;
  margin: 48px auto; /* Auto margins center the element horizontally */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;
  box-shadow: 1px 3px 10px 2px rgba(0, 0, 0, 0.25);
  border-radius: 55px;
  width: fit-content;
  height: auto;
  background: #FFFEFC;
}


  .navLinkItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .nav-link-content {
    color: black;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #EA9D34;
    text-decoration: none;
  }